[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
allure-pytest = "*"
assertpy = "*"
pytest = "*"
pytest-xdist = "*"
selenium = "4.4.3"
dacite = "*"

[requires]
python_version = "3.10"
